body, html {
  margin: 0 auto;
  text-align: center;
  overflow:hidden;
  font-family: "Contrail One", sans-serif;
  font-weight: bold;
  font-size: 26px;
  background: url("../images/bg.jpg");

}

#game{
	background: rgba(34, 41, 44, 0.6);
  border-right:5px solid #fff;
  border-left:5px solid #fff;
}

.gameUp{
  background-color: red;
}

h1 {
	position: absolute;
}

h1:first-child{
	left: 50%;
  margin-left: -59px;
  display: block;
  color:#fff;
  z-index:2;
  float: left;
}

h1:nth-child(2){
	right: 5%;
  display: block;
  color:#fff;
  z-index:2;
  float: right;
  bottom: -30px;
  right: 50%;
  margin-right: -89px;
  margin-top: 10px;
}

.btn{
  font-size: 30px;
  color:#FFF;
  border: 3px solid rgba(255,255,255, 1);
  border-radius: 5px;
  padding: 20px 30px;
  background: transparent;
  font-weight: bold;
}

.gameframe{
    position: relative;
}

.player1-btns{
  position: absolute;
  left: 50%;
  margin-top: 20%;
  margin-left: -5em;
}

.player2-btns{
  position: absolute;
  left: 50%;
  margin-top: 30%;
  margin-left: -5em;
}

.player1-btns span{
  position: relative;
  margin-left: 30px;
  margin-top: 50px;
}

.player2-btns span{
  position: relative;

  margin-left: 30px;
}
